// Variables

$black: #1c1c20;
$cream: #FBF5F3;
$teal: #8DAA9D;
$purple: #522B47;
$velvet: #7B0828;
$diarrhea: #A98F33;
$defTransition: 0.5s ease;
$lightVelvet: #55031a;

$fonts:
'Readex Pro',
'Manrope',
'Open Sans',
'Lato',
'Overpass',
'Source Sans Pro',
'DM Sans',
'Arial',
'Tahoma',
'Trebuchet MS',
'Verdana' ,
'system-ui',
'Serif',
'Fraunces',
'DM Serif Display',
'Josefin Slab',
'Times New Roman ',
'Georgia',
'Palatino',
'Lucida Bright ',
'Monospace',
'Azeret Mono',
'Space Mono',
'Courier New',
'Lucida Sans Typewriter';