@use "utilities/utils" as u;

.privacy-div {
  max-width: min(95vw, 80rem);
  & h1, h2 {
    margin: 1rem 0.5rem 0.25rem 0.5rem;
  }
  & p {
    margin: 0rem 0.5rem 1rem 0.5rem;
  }
}

.privacy-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  & a {
    color: u.$diarrhea !important;
  }
}