// Variables

$black: #171717;
$cream: #FBF5F3;
$teal: #8DAA9D;
$purple: #522B47;
$velvet: #7B0828;

// Default styles

#root {
  font-family: "Fraunces", serif;
  color: #171717;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: $cream;
  padding: 1rem;
  gap: 2rem;
  flex-wrap: wrap;
}

main {
  flex: 1;
  padding: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: $cream;
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Azeret Mono", monospace;
  font-weight: 400;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

input {
  border: solid $black 2px;
}

// Custom styles

.campanula-logo {
  font-size: 3rem;
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
}

.template-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 1rem;
}

.pomo-template {
  width: min(30rem, 100%);
  box-sizing: border-box;
  padding: 1rem;
  & h2 {
    margin: 0.5rem 0;
  }
}


.timer {
  background-color: $cream;
  padding: 1rem;
  margin: 1rem 0;
  .time {
    font-size: 5rem; 
  }
}


.settings-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
// Colors

.cream {
  color: $cream;
}

.teal {
  color: $teal;
}

.purple {
  color: $purple;
}

.velvet {
  color: $velvet;
}

.black { 
  color: $black; 
}

.bgteal { background-color: $teal !important; }
.bgpurple { background-color: $purple !important; }
.bgvelvet { background-color: $velvet !important; }