// Media queries
@media (max-width: 640px) {
  .campanula-logo {
    display: none;
  }
  .main-lines {
    padding-left: 0 !important;
  }
  .main-headline {
    text-align: center;
  }
  .main-subheadline {
    text-align: center;
  }
  .main-header {
    font-size: 1.75rem !important;
  }
}

@media (min-width: 640px) {
  .campanula-logo-mobile {
    display: none;
  }
}


// Variables

$black: #171717;
$cream: #FBF5F3;
$teal: #8DAA9D;
$purple: #522B47;
$velvet: #7B0828;
$diarrhea: #A98F33;
$defTransition: 0.5s ease;

$lightVelvet: #55031a;

// Default styles

#root {
  font-family: "Readex Pro", serif;
  color: #171717;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  // position: sticky;
  // transition: $defTransition;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  
  // & > section {
  //   max-width: min(90rem, 100%);
  //   padding: 1rem;
  // }
}

footer {
  display: flex;
  background-color: $black;
  color: $cream;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  & a:link {
    color: $diarrhea;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", sans-serif;
  font-weight: 400;
}

h2.main-header {
  font-size: 2.5rem; 
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

section {
  // padding: 1rem;
}

input {
  border: solid $black 2px;
}

// Custom styles

.scale-object {
  width: min(80rem, 95%);
  justify-self: center;
}

.main-top {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-self: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-image: linear-gradient(to right, rgba(255,255,255,100) 30%, rgba(255,255,255,0));
  & > * {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.main-lines {
  width: min(95vw, 80rem);
  padding-left: 1rem;
}

.main-headline {
  font-size: min(7rem, 12vw);
  font-weight: 400;
  max-width: 60rem;
}

.main-subheadline {
  font-size: min(3.5rem, 6vw);
  font-weight: 100;
}

.main-tomato {
  justify-self: end;
  max-height: 50rem;
  max-width: 50rem;
  width: 100vw;
  z-index: -3;
  right: 0;
}

.gradient-customizable {
  font-weight: 600;
  font-family: "Fraunces";
  font-style: italic;
  background-image: linear-gradient(90deg, $teal, $purple, $velvet);
  background-clip: text;
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.campanula-logo {
  font-size: 3rem;
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  color: $black;
  line-height: 3rem;
}

.campanula-logo-mobile {
  font-size: 3rem;
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  line-height: 3rem;
}

.short-hr {
  color: $diarrhea;
  width: min(2rem, 95vw);
  border-top: $diarrhea 0.25rem solid;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.long-hr {
  color: $diarrhea;
  width: min(42rem, 95vw);
  border-top: $diarrhea 0.25rem solid;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.description {
  // max-width: 80rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2rem;
  // gap: 2rem;
  & .subcontainer {
    width: min(80rem, 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.revolutionize {
  & > .subcontainer {
    column-gap: 2rem;
    & > .desc-text-revolutionize {
      flex: 1 1 25rem;
      min-height: 20rem;
      border-radius: 4rem 4rem 4rem 0;
      width: min(53rem, 100vw);
      background-color: $teal;
      color: $cream;
      padding: 1rem;
      box-sizing: border-box;
    }
    & > .desc-image-revolutionize {
      // max-width: 25rem;
      // max-height: 25rem;
      width: min(25rem, 95vw);
      height: auto;
    }
  }
}

.desc-customize-container {
  & > .subcontainer {
    // column-gap: 12rem;
    align-items: center;
    & > .desc-image-customize-container {
      background-color: $teal;
      width: min(25rem, 95vw);
      height: auto;
      border-radius: 0 10rem 4rem 10rem;
      box-sizing: border-box;
      padding: 1rem;
      & > img {
        width: 100%;
        height: auto;
      }
    }
    & > .desc-text-customize {
      flex: 1 1 25rem;
      max-width: min(41rem, 100vw);
      padding: 0 min(15vw, 7rem);
    }
  }
}

.any-device {
  column-gap: 2rem;
  & .subcontainer {
    & > .desc-text-any-device {
      flex: 1 1 25rem;
      align-self: center;
      border-radius: 4rem;
      width: min(48rem, 95vw);
      box-sizing: border-box;
      padding: 1rem;
      margin-bottom: 2rem;
    }
    & > .desc-text-any-device-image {
      width: min(30rem, 95vw);
      // height: min(28rem, 95vw);
      align-self: center;
    }
  }
}

.desc-intuitive {
  width: 100%;
  align-items: inherit;
  justify-content: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2rem;
  & > img {
    width: 100%;
    height: auto;
  }
  & > .intuitive {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $lightVelvet;
    & > .subcontainer {
      padding: 2rem 0;
      & > .desc-text-intuitive {
        flex: 1 1 25rem;
        width: min(48rem, 100vw);
        color: $cream;
        box-sizing: border-box;
      }
      & > .desc-text-intuitive-image {
        width: min(30rem, 95vw);
        align-self: center;
      }
    }
  }
}

.desc-template {
  width: 100%;
  & > .desc-text-template {
    background-color: #522B47;
    border-radius: 4rem 4rem 0 0;
    color: $cream;
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
  }
  & > .desc-text-template-image {
    width: min(35rem, 90vw);
    margin: auto;
  }
}

.desc-text-template-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pomos-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > .pomos-list-desc {
    text-align: center;
  }
}

.template-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 1rem;
  width: 100%;
}

.pomo-template {
  width: min(30rem, 90vw);
  border: 2px solid black;
  box-sizing: border-box;
  box-shadow: -0.5rem 0.5rem $black;
  padding: 1rem;
  transition: $defTransition;
  & h2 {
    margin: 0.5rem 0;
  }
  &:hover {
    box-shadow: -1rem 0.75rem $black;
  }
}

.timer {
  background-color: $cream;
  padding: 1rem;
  margin: 1rem 0;
  .time {
    font-size: 5rem; 
  }
}


.settings-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
// Utilities

.cream {
  color: $cream;
}

.teal {
  color: $teal;
}

.purple {
  color: $purple;
}

.velvet {
  color: $velvet;
}

.black { 
  color: $black; 
}

.diarrhea {
  color: $diarrhea;
}

.bgteal { background-color: $teal; }
.bgpurple { background-color: $purple; }
.bgvelvet { background-color: $velvet; }

.full-width-svg {
  width: 100%;
}

.button {
  color: $black !important;
  border: solid 2px $black;
  line-height: 1.75rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-family: "Azeret Mono", monospace;
  transition: $defTransition;
  background-color: $cream;
  box-shadow: -0.25rem 0.25rem $teal;
  &:hover {
    box-shadow: -0.5rem 0.375rem $teal;
  }
}